@media screen and (max-width: 1200px) {
  .welcome .text {
    max-width: 400px;
    margin-top: 70px;
  }
  .welcome .text h1 {
    font-size: 35px;
  }
  .welcome .text h2 {
    font-size: 23px;
  }
  .welcome .text p {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .about-content p {
    font-size: 23px;
  }
}
@media screen and (max-width: 1000px) {
  .welcome .text {
    margin-top: 50px;
  }
  .welcome .text h1 {
    font-size: 32px;
  }
  .welcome .text h2 {
    font-size: 20px;
  }
  .welcome .text p {
    font-size: 18px;
    line-height: 1.5;
    padding: 0 20px;
    font-weight: 700;
  }
  .about-content p {
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  .welcome .text {
    margin-top: 10px;
    max-width: 350px;
  }
  .welcome .text p {
    padding: 0;
  }
  .banner .welcome {
    padding-top: 100px;
  }
  .banner {
    height: 75vh;
    top: 50px;
  }
  .services {
    margin: 0 20px;
  }
}

@media screen and (max-width: 700px) {
  .welcome .text {
    margin: 40px 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .welcome .text p,
  .about-content p {
    font-size: 16px;
  }
  nav a {
    padding: 10px 15px;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }

  .heading .menu_contact ul {
    background-color: rgba(4, 1, 68, 0.584);
    padding: 30px 0;
  }
  .heading .menu_contact ul li:hover {
    background-color: rgba(30, 25, 117, 0.519);
    padding: 10px 0;
  }
  .menu_contact .contact-info {
    display: flex;
    flex-direction: column;
    background-color: #1e1975;
  }
  .bars {
    background-color: #1e1975;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bar {
    display: inline;
    padding-right: 20px;
  }
  .bar #close {
    display: none;
  }
  .bar div {
    cursor: pointer;
  }
  .menu_contact .menu {
    display: none;
  }
  .menu_contact .menu ul {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .about-content {
    grid-template-columns: 1fr;
  }

  .about-content .image2 {
    display: none;
  }

  .about-content .image12 {
    display: block;
  }
  .heading header {
    font-size: 12px;
  }
  .contact-info {
    font-size: 14px;
  }
  .banner {
    height: 60vh;
  }
}
